name: Deploy Full App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ubuntu
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd ~/excal
            git pull origin main

            cd apps/excalidrawfront
            npm install
            npm run build
            pm2 restart nextjs-app

            cd ..
            cd http-backend
            npm install
            npm run build
            pm2 restart bknd

            cd ..
            cd ws-backend
            npm install
            npm run build
            pm2 restart ws-bknd
